In [2]:
import pandas as pd

df = pd.read_csv('test.csv')
df.head()

           id;id_user;amount;date_order
1;821299;2           99;01.06.2016 0:16
2;821755;2           99;01.06.2016 4:08
3;821940;2           99;01.06.2016 5:30
4;821940;9           99;01.06.2016 5:34
5;822112;2           99;01.06.2016 7:29

In [4]:
df.columns

Index(['id;id_user;amount;date_order'], dtype='object')